<ul class="accordion border-t border-slate-200 dark:border-currant-300 transition-all duration-300 mb-20" id="{{ include.accordion_id }}">
    {% for item in include.items %}
      <li class="accordion-item border-b border-slate-200 dark:border-currant-300 transition-all duration-300">
        <input type="checkbox" id="collapse{{ forloop.index }}" class="hidden peer" />
        
        <h2 class="accordion-header peer-checked:bg-slate-200 peer-checked:text-currant dark:peer-checked:bg-currant-700 dark:peer-checked:text-navy hover:bg-slate-200 hover:text-currant dark:hover:bg-currant-700 dark:hover:text-navy py-4 transition-all duration-300">
          <label for="collapse{{ forloop.index }}" class="accordion-button items-center cursor-pointer flex py-4 container mx-auto px-8 max-w-7xl">
            <!-- Icon for smaller screens -->
            <i class="lg:hidden mr-4 fa-light fa-circle-plus transform transition-transform duration-300 peer-checked:rotate-45"></i>
            
            <div class="lg:flex lg:justify-between items-center w-full">
              <span class="block align-left font-display text-l md:text-xl">{{ item.title }}</span>
              {% if item.description %}
                <span class="text-l md:text-xl block opacity-80">
                  {{ item.description }}
                  <!-- Icon for larger screens -->
                  <i class="hidden lg:inline-block ml-4 fa-light fa-circle-plus transform transition-transform duration-300 peer-checked:rotate-45"></i>
                </span>
              {% endif %}
            </div>
          </label>
        </h2>
        
        {% if item.details %}
          <div class="accordion-collapse hidden peer-checked:block bg-slate-200 dark:bg-currant-700 text-currant dark:text-white pt-6 pb-12 transition-all duration-300" aria-labelledby="heading{{ forloop.index }}">
            <div class="accordion-body block container mx-auto px-8 max-w-7xl">
              <div class="justify-between w-full flex">
                <p class="max-w-prose">{{ item.details }}</p>
                {% if item.icon %}
                  <i class="ml-4 align-right fa-thin fa-sharp text-8xl {{ item.icon }}"></i>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
</ul>