{% if include.impact_intro or include.impact or include.impact_conclusion %}
  <section class="impact">
    <h3>Our Impact</h3>
    {% if include.impact_intro %}
      <p>{{ include.impact_intro }}</p>
    {% endif %}
    {% if include.impact %}
      <ul>
        {% for impact_item in include.impact %}
          <li>{{ impact_item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if include.impact_conclusion %}
      <p>{{ include.impact_conclusion }}</p>
    {% endif %}
  </section>
{% endif %}