<div id="mobile-navigation-button" class="flex items-center lg:hidden justify-between z-60 text-emerald dark:text-forest">
  <button type="button" class="inline-flex items-center justify-center p-2 text-3xl" aria-expanded="false" onclick="toggleMobileMenu()">
    <span class="sr-only">Open main menu</span>
    <i id="menu-icon" class="fa-sharp inline-flex items-center justify-center fa-solid fa-bars h-12 w-12" aria-hidden="true"></i>
    <i id="close-icon" class="fa-sharp inline-flex items-center justify-center fa-solid fa-xmark h-12 w-12 hidden" aria-hidden="true"></i>
  </button>
</div>
<div id="mobile-navigation" class="absolute top-[64px] min-h-screen left-0 w-full bg-white dark:bg-currant shadow-lg hidden z-60" role="dialog" aria-modal="true">
  <ul class="flex flex-col p-4">
    {% for item in site.data.header-navigation.mobile %}
      <li id="mobile-navigation-item-{{ forloop.index }}" class="py-2">
        <a id="mobile-navigation-item-{{ forloop.index }}-button" href="{{ item.url }}" class="block p-2 text-2xl {% if item.submenu %}has-subitem{% endif %}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>