<div id="desktop-navigation" class="hidden lg:flex flex items-center">
  {% for item in site.data.header-navigation.main %}
    {% assign is_current_page_flag = false %}
    {% if page.url == item.url %}
    {% assign is_current_page_flag = true %}
    {% endif %}
    {% assign sub_items = "" %}
    {% if item.url == '/services' %}
      {% if page.layout == "services" or page.layout == "service" or page.layout == "sub-service" %}
        {% assign is_current_page_flag = true %}
      {% endif %}
      {% assign sub_items = site.services | sort: 'order' %}
      {% assign sub_sub_items = site['sub-services'] | sort: 'order' %}
    {% elsif item.url == '/industries' %}
      {% if page.layout == "industries" or page.layout == "industry" or page.layout == "sub-industry" %}
        {% assign is_current_page_flag = true %}
      {% endif %}
      {% assign sub_items = site.industries | sort: 'order' %}
      {% assign sub_sub_items = site['sub-industries'] | sort: 'order' %}
    {% elsif item.sub %}
      {% assign sub_items = item.sub %}
    {% endif %}
    {% if sub_items != '' %}
      {% assign num_sub_items = sub_items | size %}
      {% if num_sub_items >= 4 %}
        {% assign grid_num = 4 %}
      {% else %}
        {% assign grid_num = num_sub_items %}
      {% endif %}
      {% assign grid_class = "grid-cols-" | append: grid_num %}
      <div id="desktop-navigation-item-{{ forloop.index }}" class="group content-center py-2 transition-all duration-300">
        <a id="desktop-navigation-item-{{ forloop.index }}-button" href="{{ item.url }}" class="z-50 p-6 flex items-center justify-between hover:text-emerald dark:hover:text-forest" aria-expanded="false">
          <span class="z-50">{{ item.title }}</span>
          <i class="ml-2 z-50 fa-sharp fa-solid fa-angle-down"></i>
        </a>
        <span id="hover-indicator" class="relative bg-emerald dark:bg-forest group-hover:block w-auto rounded block h-1 mt-1 z-50 -mb-2 mx-6 {% unless is_current_page_flag %}hidden{% endunless %}"></span>
        <div id="desktop-navigation-item-dropdown" class="transition-all duration-300 group-hover:block absolute left-0 top-full z-100 w-screen bg-white shadow-lg dark:bg-currant hidden">
          <div id="desktop-navigation-item-{{ forloop.index }}-dropdown-content" class="mx-auto max-w-7xl grid {{ grid_class }} auto-rows-auto gap-2 pb-10">
              {% for sub in sub_items %}
                {% assign nested_items = "" %}
                {% if item.url == '/services' %}
                  {% assign nested_items = sub_sub_items | where: "parent", sub.title %}
                {% elsif item.url == '/industries' %}
                  {% assign nested_items = sub_sub_items | where: "parent", sub.title %}
                {% endif %}
                <div class="px-4 py-8">
                  <a id="desktop-navigation-item-{{ forloop.index }}-dropdown-item-{{ forloop.index }}" class="hover:opacity-80 transition-all duration-300 text-xl text-{{ sub.color }}-700 dark:text-{{ sub.color }}-200" href="{{ sub.url }}">
                    {% if sub.icon %}
                    <i class="text-{{ sub.color }} dark:text-{{ sub.color }}-300 fa-sharp-duotone fa-solid mb-2 {{ sub.icon }}"></i>
                    {% endif %}
                    <p id="desktop-navigation-item-{{ forloop.index }}-dropdown-item-{{ forloop.index }}-title" class="text-xl mb-2">{{ sub.title }}</p>
                  </a>
                  {% if sub.info %}
                  <p id="desktop-navigation-item-{{ forloop.index }}-dropdown-item-{{ forloop.index }}-info" class="text-sm opacity-80">{{ sub.info }}</p>
                  {% endif %}
                  {% if nested_items != '' %}
                  <ul>
                    {% for nested in nested_items %}
                      <li id="desktop-navigation-item-{{ forloop.index }}-dropdown-item-{{ forloop.index }}-nested-item-{{ forloop.index }}" class="py-1"> <!-- Increased padding for more spacing -->
                        <a class="hover:text-{{ sub.color }}-700 dark:hover:text-{{ sub.color }}-200" href="{{ nested.url }}">{{ nested.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    {% else %}
      <div class="group">
        <a id="desktop-navigation-item-{{ forloop.index }}-button" href="{{ item.url }}" class="z-50 p-6 flex items-center justify-between hover:text-emerald dark:hover:text-forest" aria-expanded="false">
          {{ item.title }}
        </a>
        <span id="hover-indicator" class="relative bg-emerald dark:bg-forest group-hover:block w-auto rounded block h-1 mt-1 z-50 -mb-2 mx-6 {% unless is_current_page_flag %}hidden{% endunless %}"></span>
      </div>
    {% endif %}
  {% endfor %}
</div>