<header class="page-header relative flex flex-col justify-center items-center bg-cover bg-center">
  <div class="container mx-auto px-8 py-20 max-w-7xl w-full">
    {% if page.layout == "industry" or page.layout == "sub-industry" or page.layout == "service" or page.layout == "sub-service" or page.layout == "insights" or page.layout == "case-study" %}
    <h2 class="text-xl mb-6 font-display md:hidden">{{ page.layout | capitalize }}</h2>
    {% endif %}
    <h1 class="text-3xl lg:text-7xl font-display">{{ include.title }}</h1>
    {% if include.authors %}
    <p class="my-12 text-xl md:text-2xl max-w-prose">By {{ include.authors }}</p>
    {% endif %} 
    {% if include.subtitle %}
    <p class="my-12 md:text-xl max-w-prose">{{ include.subtitle }}</p>
    {% endif %}
  </div>
  {% if include.background_image %}
  <div class="relative h-[50dvh] overflow-hidden w-full {% if include.color %}bg-{{ include.color }}{% endif %}">
    <div class="bg-fixed bg-no-repeat bg-cover bg-center h-[70dvh] w-full" style="background-image: url({{ include.background_image }});">
    </div>
  </div>
  {% endif %}
</header>
{% include sub-nav.html %}
{% if include.streamlines %}
<canvas
  class="windmap-canvas absolute top-0 left-0 w-full min-h-[60dvh] z-[-1]"
  data-num-streamlines="50"
  data-num-animated="0"
  data-num-colors="3"
  data-opacity="0.2"
  data-opacity-dark="0.5"
  data-scale="0.00015"
  ></canvas>
{% endif %}