{% assign parent_color = include.card.color %}
<div id="{{ include.card.slug }}" class="rounded hover:shadow-lg transition-all duration-300 pt-40 block bg-cover bg-no-repeat bg-center text-currant" style="background-image: url({{site.baseurl}}{{ include.card.image }})"">
    <div class="self-end p-6 bg-{{ parent_color }}-100 rounded-b bg-opacity-90 h-full">
    <a href="{{ include.card.url | relative_url }}">
    {% if include.card.title %}
    <p class="text-xl font-display mb-2">{{ include.card.title }}</p>
    {% endif %}
    {% if include.card.intro %}
    <p class="text-sm mb-2">{{ include.card.blurb-intro }}</p>
    {% endif %}    
    {% assign related_sub_services = site["sub-services"] | where: "parent", service.title | sort:"order" %}
    </a>
    {% for sub-service in related_sub_services %}
        <a  href="{{ include.card.url | relative_url }}#{{ sub-service.title | slugify }}" class="text-sm whitespace-nowrap border border-currant rounded-full px-2 py-1 mr-1 mb-1 inline-block hover:bg-{{ parent_color }}-200">{{ sub-service.title }}</a>
    {% endfor %}
    </div>
</div>