
{% for item in site.data.header-navigation.main %}
    {% assign is_current_page_flag = false %}
    {% if page.url == item.url %}
    {% assign is_current_page_flag = true %}
    {% endif %}
    {% assign sub_items = "" %}
    {% assign nested_items = "" %}

    {% if item.url == '/services' %}
    {% if page.layout == "services" or page.layout == "service" or page.layout == "sub-service" %}
        {% assign is_current_page_flag = true %}
        {% assign nested_items = site['sub-services'] | where: "parent", page.title | sort: 'order' %}
    {% endif %}
    {% assign sub_items = site.services | sort: 'order' %}
    {% elsif item.url == '/industries' %}
    {% if page.layout == "industries" or page.layout == "industry" or page.layout == "sub-industry" %}
        {% assign is_current_page_flag = true %}
        {% assign nested_items = site['sub-industries'] | where: "parent", page.title | sort: 'order' %}
    {% endif %}
    {% assign sub_items = site.industries | sort: 'order' %}
    {% elsif item.sub %}
    {% assign sub_items = item.sub %}
    {% endif %}

    {% if sub_items != '' %}
    {% assign num_sub_items = sub_items | size %}
    {% if num_sub_items >= 4 %}
        {% assign grid_num = 4 %}
    {% else %}
        {% assign grid_num = num_sub_items %}
    {% endif %}
    {% assign grid_class = "grid-cols-" | append: grid_num %}
    {% if is_current_page_flag and nested_items != '' %}
    <section id="subnav" class="hidden 2xl:block sticky top-[120px] z-30 bg-white shadow-md dark:bg-currant transition-all duration-300 left-0 top-full bg-white shadow-lg dark:bg-currant content-start rounded-xl max-w-[240px]">
        {% for nested in nested_items %}
        <li>
            <a id="desktop-navigation-item-{{ forloop.index }}-dropdown-item-{{ forloop.index }}" class="hover:opacity-80 transition-all duration-300 text-{{ nested.color }}-700 dark:text-{{ nested.color }}-200" href="#{{ nested.title | slugify}}">
                {% if nested.icon %}
                <i class="text-{{ nested.color }} dark:text-{{ nested.color }}-300 fa-sharp-duotone fa-solid mr-2 {{ nested.icon }}"></i>
                {% endif %}
                <span>{{ nested.title }}</span>
            </a>
        </li>
        {% endfor %}
    </section>
    {% endif %}
    {% endif %}
{% endfor %}
