{% if include.sub_industry.challenges %}
  <h3>Challenges</h3>
  <ul>
    {% for challenge in include.sub_industry.challenges %}
      <li>{{ challenge }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if include.sub_industry.solutions %}
  <h3>Solutions</h3>
  <ul>
    {% for solution in include.sub_industry.solutions %}
      <li>
        <strong>{{ solution.title }}:</strong>
        <ul>
          {% for detail in solution.content %}
            <li>{{ detail }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if include.sub_industry.outcomes %}
  <h3>Outcomes</h3>
  <ul>
    {% for outcome in include.sub_industry.outcomes %}
      <li>{{ outcome }}</li>
    {% endfor %}
  </ul>
{% endif %}
