---
layout: default
body-class: body-home
---
<canvas id="canvas" class="absolute top-0 left-0 w-full h-full z-[-1]"></canvas>
<section id="hero-background" class="snap-start hero min-h-[80dvh] py-10 flex flex-col justify-center items-center bg-transparent bg-gradient-to-t from-white to-transparent dark:from-currant dark:to-transparent">
  <div class="container mx-auto px-4 max-w-7xl">
    <h1 class="text-5xl lg:text-8xl mb-12 mx-auto max-w-prose font-display">{{ site.data.homepage.hero.title }}</h1>
    <div class="max-w-prose text-left ">
      <p class="text-xl">{{ site.data.homepage.hero.description }}</p>
      <p class="text-xl mt-12 mb-12">
        <a class="text-emerald dark:text-forest transition-all duration-300 [&>i]:ml-2 hover:[&>i]:ml-4" href="{{ site.data.homepage.hero.cta_link }}" class="btn">
          {{ site.data.homepage.hero.cta_text }} <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
</section>

<section class="unique-points py-40 bg-slate-50 dark:bg-currant-500">
  <div class="container mx-auto px-4 max-w-7xl">
    <h2 class="text-4xl mb-12 font-display">What sets SLKone apart</h2>
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% for point in site.data.homepage.unique_points %}
      {% include icon-block.html title=point.title text=point.description icon=point.icon %}
    {% endfor %}
    </div>
  </div>
</section>

<section class="snap-start approach min-h-[80dvh] py-40"> 
  <div class="container mx-auto px-4 max-w-7xl">
    <h2 class="text-4xl mb-12 font-display">{{ site.data.homepage.approach.title }}</h2>
    <p class="text-xl max-w-prose">{{ site.data.homepage.approach.description }}</p>
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for service in site.services | sort: 'order' %}
          {% include service-card.html card=service %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="data-driven-approach min-h-[80dvh] py-10">
  <div class="container mx-auto px-4 max-w-7xl">
    <h2 class="text-4xl mb-12 font-display">{{ site.data.homepage.data_driven_approach.title }}</h2>
    <ol>
      {% for step in site.data.homepage.data_driven_approach.steps %}
        <li>{{ step }}</li>
      {% endfor %}
    </ol>
  </div>
</section>

<section class="testimonials min-h-[80dvh] py-10">
  <div class="container mx-auto px-4 max-w-7xl">
    <h2>What our Clients Say</h2>
  {% for testimonial in site.data.homepage.testimonials %}
      <blockquote>{{ testimonial.quote }}</blockquote>
    {% endfor %}
  </div>
</section>

<section class="join-team min-h-[80dvh] py-10">
  <div class="container mx-auto px-4 max-w-7xl">
    <h2>{{ site.data.homepage.join_team.title }}</h2>
    <p>{{ site.data.homepage.join_team.description }}</p>
    <a href="{{ site.data.homepage.join_team.cta_link }}" class="btn">{{ site.data.homepage.join_team.cta_text }}</a>
  </div>
</section>

<section class="contact min-h-[80dvh] py-10">
  <div class="container mx-auto px-4 max-w-7xl">
    <h2>{{ site.data.homepage.contact.title }}</h2>
    <p>{{ site.data.homepage.contact.description }}</p>
    <a href="{{ site.data.homepage.contact.cta_link }}" class="btn">{{ site.data.homepage.contact.cta_text }}</a>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/simplex-noise@2.4.0/simplex-noise.js"></script>