---
layout: default
body-class: body-home
---
<canvas
  class="windmap-canvas absolute top-0 left-0 w-full h-full z-[-1]"
  data-num-streamlines="100"
  data-num-streamlines-dark="150"
  data-num-animated="50"
  data-num-animated-dark="75"
  data-num-colors="3"
  data-opacity="0.3"
  data-opacity-dark="0.75"
  data-scale="0.00015"
  ></canvas>
<section id="hero-background" class="snap-start hero min-h-[80dvh] py-10 flex flex-col justify-center items-center bg-transparent bg-gradient-to-t from-white to-transparent dark:from-currant dark:to-transparent">
  <div class="container mx-auto px-8 max-w-7xl">
    <h1 class="text-5xl lg:text-8xl mb-12 mx-auto max-w-prose font-display">{{ site.data.homepage.hero.title }}</h1>
    <div class="max-w-prose text-left ">
      <p class="text-xl">{{ site.data.homepage.hero.description }}</p>
      <p class="text-xl mt-12 mb-12">
        <a class="bg-emerald dark:bg-forest text-white dark:text-currant text-2xl transition-all p-4 rounded-full px-8 duration-300 hover:bg-emerald-500 dark:hover:bg-forest-500" href="{{ site.data.homepage.hero.cta_link }}">
          {{ site.data.homepage.hero.cta_text }} <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
</section>

<section id="unique-points" class="py-20 lg:py-40 bg-slate-50 dark:bg-currant-500">
  <div class="container mx-auto px-8 max-w-7xl">
    <h2 class="text-4xl mb-12 font-display">What sets SLKone apart</h2>
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% for point in site.data.homepage.unique_points %}
      {% include icon-block.html title=point.title text=point.description icon=point.icon links=point.links %}
    {% endfor %}
    </div>
  </div>
</section>

<section id="approach" class="snap-start h-full relative"> 
  <canvas
  class="windmap-canvas absolute w-screen h-full left-0 z-[-1]"
  data-num-streamlines="15"
  data-num-animated="0"
  data-num-colors="1"
  data-opacity="0.3"
  data-opacity-dark="0.75"
  data-scale="0.00015"
  ></canvas>
  <div class="container mx-auto px-8 py-20 lg:py-40 max-w-7xl">
    <h2 class="text-4xl mb-12 font-display">{{ site.data.homepage.approach.title }}</h2>
    <p class="text-xl max-w-prose">{{ site.data.homepage.approach.description }}</p>
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {% assign ordered-services = site.services | sort: 'order' %}
      {% for service in ordered-services %}
          {% include service-card.html card=service %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="data-driven-approach">
  <div class="container mx-auto px-8 max-w-7xl ">
    <div class="bg-black/5 dark:bg-currant-500 rounded-xl">
      <h2 class="text-4xl font-display p-8">{{ site.data.homepage.data_driven_approach.title }}</h2>
      <p class="text-xl max-w-prose mb-4 px-8">{{ site.data.homepage.data_driven_approach.description }}</p>
      {% include accordion.html accordion_id="dataDrivenApproachAccordion" items=site.data.homepage.data_driven_approach.steps %}
    </div>
  </div>
</section>

{% include contact-card.html 
  background_image=site.data.homepage.contact.background-image 
  title=site.data.homepage.contact.title 
  description=site.data.homepage.contact.description 
  cta_link=site.data.homepage.contact.cta_link 
  cta_text=site.data.homepage.contact.cta_text 
%}
