---
layout: default
---
{% include page-header.html title=page.title subtitle=page.intro %}

{% include content-block-bullets.html bullet_title=page.approach-title bullet_intro=page.approach-intro bullets=page.approach bullet_conclusion=page.approach-conclusion %}

{% include content-block-bullets.html bullet_title=page.landscape-title bullet_intro=page.landscape-intro bullets=page.landscape bullet_conclusion=page.landscape-conclusion %}

{% assign related_sub_industries = site.sub-industries | where: "parent", page.title | sort:"order" %}
{% if related_sub_industries.size > 0 %}
  <h2>{{page.title}} Sub-Industries</h2>
    {% for sub-industry in related_sub_industries %}
        {% include sub-industry-content.html sub_industry=sub-industry %}
    {% endfor %}
{% endif %}

{% if page.why_choose %}
  {% capture why_choose_title %}Why Choose SLKone for {{ page.title }}{% endcapture %}
  {% include why-choose-slkone.html title=why_choose_title points=page.why_choose %}
{% endif %}

{% if page.cta %}
<p>{{ page.cta }}</p>
{% endif %}