---
layout: default
---
{% include page-header.html title=page.title subtitle=page.intro %}

{% if page.approach %}
<section class="approach">
  <h3>Our Approach</h3>
  <p>{{ page.approach }}</p>
</section>
{% endif %}

{% include content-block-bullets.html bullet_title=page.impact_title bullet_intro=page.impact_intro bullets=page.impact bullet_conclusion=page.impact_conclusion %}

{% assign related_sub_industries = site["sub-industries"] | where: "parent", page.title | sort:"order" %}
{% if related_sub_industries.size > 0 %}
  <h3>{{page.title}} Sub-Industries</h3>
    {% for sub-industry in related_sub_industries %}
        {% include sub-service-content.html sub_service=sub-industry %}
    {% endfor %}
{% endif %}

{% if page.why_choose %}
  {% capture why_choose_title %}Why Choose SLKone for {{ page.title }}{% endcapture %}
  {% include why-choose-slkone.html title=why_choose_title points=page.why_choose %}
{% endif %}

{% if page.cta %}
<p>{{ page.cta }}</p>
{% endif %}