---
layout: default
---
{% include page-header.html title=page.title subtitle=page.subtitle %} 
{% if page.intro %}
<section class="intro">
{{ page.intro }}
</section>
{% endif %}
{% assign ordered-industries = site.industries %}

{% for industry in ordered-industries %}
<a href="{{ industry.url }}">
  <section id="{{ industry-slug }}" class="industry-block-small">
    <h3>{{ industry.title }}</h3>
    <p>{{ industry.subtitle }}</p>
    <ul>
      {% assign related_sub_industries = site["sub-industries"] | where: "parent", industry.title | sort:"order" %}
      {% for sub-industry in related_sub_industries %}
        <li>{{ sub-industry.title }}</li>
      {% endfor %}
    </ul>
  </section>
</a>
{% endfor %}
{% if page.join_team_title and page.join_team_text %}
  <section class="join-our-team">
    <h2>{{ page.join_team_title }}</h2>
    <p>{{ page.join_team_text }}</p>
    {% if page.join_team_button_text and page.join_team_button_url %}
      <a href="{{ page.join_team_button_url }}" class="cta-button">{{ page.join_team_button_text }}</a>
    {% endif %}
  </section>
{% endif %}

{{ content }}