---
layout: default
---
{% include page-header.html title=page.title subtitle=page.subtitle streamlines=page.streamlines %} 

<section class=" big-paragraph justify-center items-center flex bg-slate-50 dark:bg-currant-500">
    <div class="container mx-auto px-8 max-w-7xl md:text-3xl py-40">
      <p class="max-w-prose">
      {{ page.bigparagraph }}
      </p>
    </div>
</section>

<section class="snap-start h-full relative approach"> 
  <div class="container mx-auto px-8 py-20 lg:pt-20 lg:py-40 max-w-7xl">
    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
      {% assign ordered-services = site.services | sort: 'order' %}
      {% for service in ordered-services %}
          {% include service-card-big.html card=service %}
      {% endfor %}
    </div>
  </div>
</section>

{{ content }}