---
layout: default
---
{% include page-header.html title=page.title subtitle=page.subtitle %} 

{% include why-choose-slkone.html title=page.why_choose_title points=page.why_choose_points %}

{% assign ordered-services = site.services | sort:"order" %}
{% assign ordered-sub-services = site["sub-services"] | sort:"order" %}

{% for service in ordered-services %}
<a href="{{ service.url }}">
  <section id="{{ service-slug }}" class="service-block-small">
    <h3>{{ service.title }}</h3>
    <p>{{ service.subtitle }}</p>
    <ul>
      {% assign related_sub_services = site["sub-services"] | where: "parent", service.title | sort:"order" %}
      {% for sub-service in related_sub_services %}
        <li>{{ sub-service.title }}</li>
      {% endfor %}
    </ul>
  </section>
</a>
{% endfor %}
{% if page.join_team_title and page.join_team_text %}
  <section class="join-our-team">
    <h2>{{ page.join_team_title }}</h2>
    <p>{{ page.join_team_text }}</p>
    {% if page.join_team_button_text and page.join_team_button_url %}
      <a href="{{ page.join_team_button_url }}" class="cta-button">{{ page.join_team_button_text }}</a>
    {% endif %}
  </section>
{% endif %}

{{ content }}