---
layout: default
---
{% include page-header.html title=page.title subtitle=page.intro streamlines=page.streamlines background_image=page.image color=page.color %} 

{% if include.sub_industry.why_choose %}
<h3>Why Choose SLKone for {{ include.sub_industry.title }}?</h3>
<ul>
{% for reason in include.sub_industry.why_choose %}
  <li>{{ reason }}</li>
{% endfor %}
</ul>
{% endif %}

{% if page.cta %}
{% include contact-card.html 
  background_image=site.data.homepage.contact.background-image 
  description=page.cta 
%}
{% endif %}